.event-switcher
  +pie-clearfix
  background-color: #F3F6F3

  .donate-index-page, .tablemat-entrance
    +box-sizing(border-box)
    display: block
    width: 50%
    padding: 12px 3px
    text-align: center

    &:hover
      text-decoration: none

  .index-link
    float: left
    color: white
    background-color: #829235
    +transition(background-color .5s)

    &:hover
      background-color: lighten(#829235, 3%)

  .donate-index-page
    float: left
    color: #00343E
    background-color: #C5DD50
    +transition(background-color .5s)

    &:hover
      background-color: lighten(#F3F6F3, 3%)

  .tablemat-entrance
    float: right
    color: white
    background-color: #58483C
    +transition(background-color .5s)

    &:hover
      background-color: lighten(#00343E, 3%)

  .title
    +adjust-font-size-to(13px, 0.75)

    .bold
      font-weight: bold
      @extend %subpixel

    .break
      display: block

  +at-breakpoint($pad)
    .donate-entrance, .smartcards-entrance, .daebyday-entrance
      padding: 18px
    .title
      +adjust-font-size-to(16px)

      .break
        display: block