.rule
  +pie-clearfix
  position: relative


  .content
    +box-sizing(border-box)
    max-width: 54em
    margin: 0 auto
    padding: 24px
    color: $color-black

    p:last-child
      +trailer(0)
      +adjust-font-size-to(16px, 1.2)

    li
      +adjust-font-size-to(16px, 1.2)

  +at-breakpoint($pad)
    .content
      padding: 60px

  +at-breakpoint($desktop)