.rule
  +pie-clearfix
  position: relative


  .content
    +box-sizing(border-box)
    margin: 0 auto
    padding: 48px 24px
    color: $color-black-a50


    p:last-child
      +trailer(0)
      +adjust-font-size-to(13px, 1.2)

    li
      +adjust-font-size-to(13px, 1.2)

    ol
      margin-bottom: 0px

  +at-breakpoint($pad)
    .content
      padding: 72px 64px

      .rules
        -webkit-columns: 10em 2
        -webkit-column-gap: 3em

        li
          -webkit-column-break-inside: avoid
          page-break-inside: avoid
          break-inside: avoid

  @media (min-width: 57em) and (orientation : landscape)
    .content
      padding: 72px 128px

  +at-breakpoint($desktop)
    .content
      padding: 72px 128px


