<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Election 2016</title>
    <link href="../stylesheet/index.css" rel="stylesheet" type="text/css">
    <link href="../stylesheet/all.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <div class="header">
          <h1 class="logo">LIGHT UP TAIWAN 點亮台灣</h1>
        </div>
        <div class="donate">
          <h2 class="title">2016 蔡英文競選辦公室<span>小額募款</span></h2>
          <div class="donate-item-list"><a href="#" class="item">
              <div class="donate-amount">$100</div>
              <div class="description"><span>相當於</span>志工的一頓午飯</div></a><a href="#" class="item">
              <div class="donate-amount">$200</div>
              <div class="description"><span>相當於</span>一疊政策說帖</div></a><a href="#" class="item">
              <div class="donate-amount">$500</div>
              <div class="description"><span>相當於</span>一包宣傳貼紙</div></a><a href="#" class="item">
              <div class="donate-amount">$1000</div>
              <div class="description"><span>相當於</span>四箱活動礦泉水</div></a><a href="#" class="item">
              <div class="donate-amount">$2000</div>
              <div class="description"><span>相當於</span>一塊記者會背板</div></a><a href="#" class="item">
              <div class="donate-amount">$5000</div>
              <div class="description"><span>相當於</span>一場政策說明會場地</div></a><a href="#" class="item">
              <div class="donate-amount">$10000</div>
              <div class="description"><span>相當於</span>播放五檔電台廣告</div></a><a href="#" class="item">
              <div class="donate-amount">$20000</div>
              <div class="description"><span>相當於</span>播放一檔電視廣告</div></a></div>
          <div class="custom-donate-amount">
            <input min="0" placeholder="或輸入您想捐款的金額" type="number">
            <input type="submit" value="捐款" class="donate-button">
          </div>
        </div>
      </div>
      <div class="visual">
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div class="slogan">
      <div class="container">
        <div class="content">
          <h2>你好，我是蔡英文</h2>
          <p>民進黨是一個「來自人民、為了人民」的政黨，儘管沒有豐厚的黨產，我們仍然堅持以小額募款來籌措政黨財源。自從2012年「三隻小豬」的熱潮以來，小額募款也漸漸成為台灣社會視為理所當然的政治原則。</p>
          <p>人民支持的力量，使我們能夠拒絕不健康的政商關係、減少日後施政的包袱。因此，這一次參選，我也將繼續秉持小額募款的原則，並將公開選舉經費支出，向人民負責。</p>
          <p>選舉並不只在投票日，過程中的每一天，都是價值的選擇。我做出了這樣的選擇，你也可以透過小額捐款，作出你的選擇。我們的資源並不豐厚，志工的一頓午飯、一疊政策說帖、幾箱礦泉水，都能聚沙成塔、累積成巨大的改變。</p>
          <h3>每一天，我們都要再努力一點點，<span>一起點亮台灣</span></h3><img src="images/iing-sign.svg" class="sign">
        </div>
        <div class="visual"><img src="images/iing.png"></div>
      </div>
    </div>
    <div class="rule">
      <div class="container">
        <div class="content">
          <h2>捐贈者應注意事項：</h2>
          <div class="rules">
            <ol>
              <li>單筆捐款金額如超過新台幣一萬元整，請捐款人務必提供完整資料。如未能提供資料，致使無法開立政治獻金收據者，依政治獻金法規定 該筆捐款需全數繳國庫</li>
              <li>有以下情形之個人、公司、團 體，無法接受捐贈：</li>
              <ul>
                <li>政府或公營事業持有資本達百分之二十之民營企業</li>
                <li>與政府機關有巨額採購之廠商</li>
                <li>有累積虧損尚未依規定彌補之營利事業</li>
                <li>未具選舉權之人</li>
                <li>宗教團體</li>
                <li>外國、大陸地區及港澳地區之人民、法人、團體或其它機構</li>
              </ul>
              <li>每年對本黨捐贈金額上限：</li>
              <ul>
                <li>個人：新台幣三十萬（可申報列舉扣除額之上限為二十萬元）</li>
                <li>營利事業：新台幣三百萬元（可申報當年度費用或損失之上限為五十萬元）</li>
                <li>人民團體：新台幣二百萬元</li>
              </ul>
              <li>其它規定請參閱政治獻金法或監察院網站</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/hero.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
