.event-switcher
  a.donate-index-page href="/"
    .title <span class="bold">小額募款</span><span class="break">回到首頁</span>
  a.tablemat-entrance href="/tablemat/"
    .title <span class="bold">印花樂餐具組</span><span class="break">限量募款活動</span>