.event-switcher
  a.daebyday-entrance href="/daebyday/"
    .title <span class="bold">茶日子</span>中秋節限量<span class="break">募款活動</span>
  a.donate-entrance href="/donate/"
    .title 我不需要募款小物，<span class="break">單純<span class="bold">捐款支持</span></span>
  a.smartcards-entrance href="/smartcards/"
    .title <span class="bold">悠遊卡/一卡通</span><span class="break">小額募款活動</span>